<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div id="kirjautuminen">
        <h1>Kirjaudu sisään</h1>
        

       
        <form action="/login" method="POST">
            <input type="text" name="identifier" placeholder="ID tai sähköposti" required>
            <input type="text" name="password" placeholder="Salasana:" required>
            <button type="submit">Kirjaudu</button>
            
        </form>
    </div>
    
</body>
</html>
